.folder > .folder-button:not([data-opened="true"]) + .folder__children {
    display: none;
}

.folder > .folder-button[data-opened="true"] + .folder__children {
    display: flex;
}

.folder > .folder-button[data-opened="true"] {
    .chevron-icon {
        transform: rotate(360deg);
    }

    .folder-opened-icon {
        display: block;
    }

    .folder-icon {
        display: none;
    }
}

.folder > .folder-button[data-opened="false"] {
    .folder-opened-icon {
        display: none;
    }

    .folder-icon {
        display: block;
    }
}

.chevron-icon {
    transform: rotate(270deg);
}

.folder__children {
    padding-left: 1rem;
}

.folder, .folder__children {
    display: flex;
    flex-direction: column;
}

.folder-button__icons-wrapper {
    display: flex;
}
